{% extends 'base.html' %}

{% block header %}
<h1 class="page-header">{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<!-- Login modal -->
<div id="modal-login" class="modal fade" data-bs-backdrop="static" tabindex="-1" aria-labelledby="modal-login-title"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <!-- Modal header -->
            <div class="modal-header">
                <h5 class="modal-title" id="modal-login-title">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" data-bs-target="#modal-login"
                        aria-label="Close"></button>
            </div>
            <!-- Form -->
            <form id="form-login" method="post">
                <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="form-group col-lg-12">
                        <label for="username">Email</label>
                        <input class="form-control" name="username" id="username" required>
                        {% if form.username.errors %}
                        <ul class="errors">
                            {% for error in form.username.errors %}
                            <li class="text-danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <br>
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password" required>
                        {% if error %}
                        <label class="text-danger">{{ error }}</label>
                        {% endif %}
                        {% if form.password.errors %}
                        <ul class="errors">
                            {% for e in form.password.errors %}
                            <li class="text-danger">{{ e }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <br>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <p class="mr-auto"><a href="{{ url_for('auth.register') }}">Register</a> to create a new account or
                        : </p>
                    <input id="login" class="btn btn-primary" type="submit" value="Log In">
                </div>
            </form>
            <!-- End of Form -->
        </div>
    </div>
</div>
<script>
  $(document).ready(function () {
    const modalLogin = new bootstrap.Modal(document.getElementById('modal-login'));
    modalLogin.show();
  });

</script>
{% endblock %}